.wrapper {
    position: absolute;
    right: 3px;
    color: red;
}

.icon-hot {
    background: url(https://st.nettruyenco.com/Data/Sites/1/skins/comic/images/icon-hot.gif) no-repeat;
    height: 11px;
    width: 28px;
    display: inline-block;
}