.col-sm-4 {
    width: 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-8 {
    width: 66.66666667%;
    padding-left: 15px;
    padding-right: 15px;
}

.top-num-1 {
    color: #3498db;
}

.top-num-2 {
    color: #27ae60;
}

.top-num-3 {
    color: #d35400;
}
