:root {
    --height-header: 50px;
}

.wrapper {
    width: 100%;
    background-color: var(--bgr-header);
    z-index: 120;
}

.row {
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    height: var(--height-header);
    padding: 0px 15px;
    
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
}

.link {

    .img {
        line-height: var(--height-header);
        display: block;
    }
}

//action

.login {
    color: #ffff;

}

.register {
    color: #ffff;
}

.space {
    margin: 0px 10px;
}


.searchHeader {
    max-width: 400px;
    width: 100%;
}

// dropdown





//reponsive

@media (max-width: 720px) {
    .wrapper {
        top: 0px;
        position: fixed;
    }
}

@media (max-width: 770px) {
    .searchHeader {
        display: none;
    }
}
