.wrapper {
    left: 0px;
    position: absolute;
    box-shadow: 0px 0px 6px #ccc;
    background-color: #fff;
    border-radius: 2px 2px 5px 5px;
    z-index: 100;
    overflow: hidden;
}

//General-----------------------------------------

.list-column {
    float: left;
}

.item {
    cursor: pointer;
}

.link {
    display: block;
    color: var(--text-color);
    transition: 200ms;
    white-space: nowrap;
    padding-left: 10px;

    &:hover {
        color: #e74c3c;
        margin-left: 5px;
    }
}

.icon {
    font-size: 1.3rem;
}

//set --------------------------------

.Category {
    min-width: 600px;
    
    .list-column {
        width: 25%;
    }
}

.Rank {
    min-width: 300px;

    .list-column {
        width: 50%;
    }
}

.Category-modal {
    left: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;

    .list-column {
        width: 50%;
        .link {
            padding-left: 15px;
        }

    }
}

.Rank-modal {
    left: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    .list-column {
        width: 50%;
        .link {
            padding-left: 15px;
        }

    }
}

//------------------------------------------

.styleData {
    float: left;
    width: 100%;
    bottom: 0px;
    color: var(--text-color);
    padding: 8px 15px;
    font-size: 1.3rem;
    line-height: 1.5;
    animation-name: myFade;
    animation-duration: 1s;

    .text {
        border-top: 1px solid #ccc;
        padding-top: 4px;
    }
}

@keyframes myFade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}


//reponsive


@media (max-width: 990px) {
    .wrapper {
        left: -200px;
    }
}
