.wrapper {
    width: 100%;
    display: block;
}

.searchHeader {
    margin-bottom: 15px;
}

.item {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.link {
    color: #fff;
    display: block;

    &:hover {
        color: #d0b32e!important;
    }
}

.active {
    color: #d0b32e!important;
}