.wrapper {
    width: 100%;
    padding-bottom: 30px;
    background-color: #ebebeb;
}

.container {
    width: 1000px;
    padding: 15px 15px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    // min-height: 500px;
}

.inner {
    display: flex;
    margin: 0px -15px;
}


//reponsive

//cứng

@media (max-width: 990px) {
    .inner {
        display: block;
    }
}

//custom

@media (min-width: 770px) and (max-width: 990px) {
    .container {
        max-width: 720px;
    }
    .inner {
        display: block;
    }
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}